/* App.css */

.container {
  width: 90%;
  margin: 40px auto;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.chart-container {
  position: relative;
  height: 400px; /* Chiều cao của biểu đồ */
}

h1, h2 {
  text-align: center;
  color: #333;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
}
